$white: #FFFFFF;
$black: #000000;
$orange-main: #FE7865;
$orange-hover: #F17D4B;
$violet: rgba(44, 46, 63, 0.7);
$dark-violet: #2C2E3F;
$gray: rgba(20, 21, 23, 0.7);
$dark-gray: #141517;
$half-gray: rgba(20, 21, 23, 0.5);
$border-gray: rgba(44, 46, 63, 0.3);
$footer-gray: #D7D9DF;


$tablet-width: 1023px;
$mobile-width: 767px;